<h1>About</h1>


<p>
	This app was built with Ruby on Rails and a touch of Bootstrap, and hosted on Heroku.
	<br/><br/>

	Special Thanks to <%= link_to "The Odin Project", "http://www.theodinproject.com" %> and Tal Safran's <%= link_to "Ruby on Rails class on Skillshare", "http://skillshare.talsafran.com" %> for being great resources on learning web development.
</p>
